use-auth-secret
static-auth-secret=__TURN_SHARED_SECRET__

realm=synapse.hacwa.co.uk
server-name=synapse.hacwa.co.uk

listening-port=3478
tls-listening-port=5349

fingerprint

no-cli
no-multicast-peers

listening-ip=0.0.0.0
relay-ip=__POD_IP__
external-ip=185.137.223.132/__POD_IP__

allowed-peer-ip=0.0.0.0-255.255.255.255

min-port=49152
max-port=49252

cert=/tls/tls.crt
pkey=/tls/tls.key

log-file=stdout
simple-log
verbose
